<div class="card-column">
    <div *ngFor="let episode of episodes" class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">{{episode.name}}</h5>
            <p class="card-text">Episode: {{episode.episode}}</p>
            <p class="card-text">Id: {{episode.id}}</p>
            <p class="card-text">Air Date: {{episode.air_date}}</p>
            <p class="card-text">Nº of characters: {{episode.characters.length}}</p>

            <a href={{episode.url}} class="btn btn-primary">Go to the episode</a>
        </div>
    </div>
</div>



<router-outlet></router-outlet>